* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: 
  linear-gradient( to bottom, rgba(0, 0, 0, 0.469), rgba(0, 0, 255, 0.265)),
  url('/data/images/background.jpg');
  background-position: center;
  background-size: contain;
}

/* sidebar */
.sidebar {
  z-index: 1;
  position: fixed;
  top: 100px;
  left: -120px;
  width: 120px;
  background-color: #222;
  color: white;
  transition: 0.3s ease;
  padding: 20px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

/* active sidebar */
.sidebar.active {
  left: 0;
}

.menu-btn {
  height: 30px;
  width: 80px;
  font-size: 15px;
  cursor: pointer;
}

.close-btn {
  width: 30px;
  background: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-top: -12px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin: 20px 0;
}

.sidebar li:hover {
  background-color: rgba(255, 255, 255, 0.613);
}

.sidebar a {
  color: white;
  text-decoration: none;
}


/* manager */
.manager {
  position: relative;
  border: 1px solid white;
  width: 110px;
  height: 150px;
  background-color: black;
  color: white;
  border-radius: 30px;
}

.manager img {
  background-color: rgb(0, 0, 0);
  height: 90%;
  width: 100%;
  border-radius: inherit;
}

.manager_details {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  bottom: 8px;
  left: 15px;
  font-size: 12px;
}

.player {
  position: relative;
  border: 1px solid white;
  width: 100px;
  height: 130px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.player img {
  background-color: rgb(0, 0, 0);
  height: 80%;
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.player-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  bottom: 3px;
  left: 2px;
  right: 2px;
  font-size: 20px;
}

.name {
  color: rgb(0, 238, 255);
  font-size: 15px;
  margin-bottom: 2px;
}

.name-big {
  font-size: 16px;
}

.player-info {
  position: absolute;
  bottom: 96px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  font-weight: 800;
  color: black;
  align-items: center;
}

.rating {
  padding: 5px 2px 0 2px;
  font-size: 18px;
}

.position {
  padding: 8px 2px 0 2px;
  font-size: 12px;
}

.position,
.rating {
  background-color: rgba(0, 0, 0, 0.157);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}