
.js-first-squad {
  position: absolute;
  left: 38%;
  top: 35%;
  width: auto;
  height: auto;
}

.category {
  position: absolute;
  top: 230px;
  left: 192px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.863);
  width: 90px;
  padding: 5px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 800;
  text-align: center;
}

.messages {
  position: absolute;
  top: 220px;
  left: 100px;
  background-color: rgb(204, 255, 0);
  width: 300px;
  height: 200px;
  padding: 10px;
  border-radius: 20px;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}
.messages-cover {
  z-index: -1;
}



/* formation styling */

.squad {
  background-color: rgba(0, 187, 255, 0.803);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 92%;
  margin: 0 auto;
  border-radius: 70px;
}

.midfielders-row,
.forwards-row,
.defenders-row {
  gap: 20px;
  display: flex;
  justify-content: center;
}

.goalkeeper-row {
  display: flex;
  justify-content: center;
}

.manager-section {
  display: flex;
  align-items: center;
  gap: 40px;
}

hr {
  width: 100%;
  opacity: 0;
}

.hr-visible {
  opacity: 0.5;
}

.formation-details {
  display: flex;
  gap: 5px;
  font-weight: 800;
  font-size: larger;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.739);
  padding: 20px;
  border-radius: 20px;
  color: white;
}


.button-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  top: 220px;
  left: 10%;
}

.button-container button {
  height: 30px;
  border: 0;
  border-radius: 20px;
  transition: 0.2s ease;
}

.button-container button:hover {
  transform: translateY(-3px);
}

.substitutes-btn {
  background-color: rgba(10, 255, 10, 0.624);
}

.formation-btn {
  background-color: rgba(230, 10, 255, 0.631);
  font-size: 12px;
  padding: 0 10px;
}

.auto-pick-btn {
  background-color: rgba(255, 192, 203, 0.841);
}



/* substitutes */

.substitutes-section {
  position: absolute;
  left: -250px;
  top: 330px;
  background-color: rgba(9, 9, 0, 0.802);
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 400px;
  transition: ease 0.3s;
  border-radius: 40px;
}

.substitutes-section.active {
  left: 0;
}

.substitutes-close-btn {
  position: relative;
  width: 36px;
  height: 36px;
  margin: 2px 0;
  z-index: 2;
  color: rgb(255, 0, 149);
  background-color: black;
  border-radius: 50%;
}

.substitutes-close-btn:hover {
  background-color: rgb(119, 119, 119);
}

.substitutes {
  overflow-y: auto;
  height: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  grid-template-rows: 130px;
  padding: 10px;
  border-radius: inherit;
}

.substitutes-intro {
  background-color: rgba(0, 0, 0, 0.644);
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 800;
  font-size: 20px;
}